<!doctype html>
<html lang="<%- language %>" class="sm:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="dk" content="<%- site.encryptionKey %>" />
    <meta name="sfkey" content="<%- site.stripeApiPublishableKey %>" />
    <title><%= site.company %></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script>const products = {}; const defaultLanguage = '<%- site.defaultLanguage %>'; const langURLPrefix = '<%- langURLPrefix %>'; const defaultCountry = '<%- site.defaultCountry %>'; const defaultCurrency = '<%- site.baseCurrency %>'; let locale = '<%- site.locale %>'; let currency = '<%- site.baseCurrency %>'; const paypalClientID = '<%- site.paypalClientID %>'; const btcPayWorkerUrl = '<%- site.btcPayWorkerUrl %>';</script>
    <script src="/js/menu-button.js" defer></script>
    <script src="https://js.stripe.com/v3"></script>
    <script src="/js/cart.js" defer></script>
  </head>
  <%- site.googleAnalytics %>
  <body class="min-h-screen flex flex-col bg-slate-50 dark:bg-black dark:text-white">
  <% if (env && env !=='production' && env !== 'live') { %>
    <div class="fixed top-2 left-2 z-150">
      <div class="bg-red-600 text-white font-bold text-xs px-3 py-1 shadow-m backdrop-blur-sm">
        <%= env.toUpperCase() %>
      </div>
    </div>
  <% } %>
    <header class="sticky top-0 z-50 <%- site.mainBgColor %> text-white">
      <section class="mx-auto flex max-w-6xl items-center justify-between p-4">
        <h1 class="<%- site.headerTitleClass %>">
        <% if (site.logoImg) { %>
          <a href="<%- localizeUrl('/#hero') %>" class="flex items-center gap-2"><img src="/img/<%- site.logoImg %>" alt="<%- site.company %>" class="h-10 w-10 object-contain" /> <%- site.companyHeaderTitleHtml || site.company %></a>
        <% } else if (site.emoji) { %>
          <a href="<%- localizeUrl('/#hero') %>"><%= site.emoji %> <%- site.companyHeaderTitleHtml || site.company %></a>
        <% } %>
        </h1>
        <div>
          <button id="weight-plates-button" class="relative h-8 w-8 cursor-pointer text-3xl md:hidden">
            <div class="before:content[''] after:content[''] absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-white before:transition-all before:duration-500 after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-white after:transition-all after:duration-500"></div>
          </button>
          <nav class="hidden space-x-8 text-xl md:block" aria-label="main">
            <a href="<%- localizeUrl('/#products') %>" class="hover:opacity-90"><%= t('nav.shop') %></a>
            <!-- <a href="<%- localizeUrl('/#track') %>" class="hover:opacity-90">Track Your Order</a> -->
            <a href="<%- localizeUrl('/#about') %>" class="hover:opacity-90"><%= t('nav.about') %></a>
          <% if (hasBlogs > 0) { %>
            <a href="<%- localizeUrl('/blogs.html') %>" class="hover:opacity-90"><%= t('nav.blogs') %></a>
          <% } %>
            <%- include('light_dark_mode_theme_toggle_button') %>
            <%- include('country_select') %>
            <%- include('currency_select') %>
            <%- include('language_select') %>
            <a href="<%- localizeUrl('/cart.html') %>" class="relative hover:opacity-90">
              &#128717;
              <span class="cartSize absolute -bottom-2 -left-2 bg-white text-black text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full border border-gray-300 shadow-md invisible" />
            </a>
          </nav>
        </div>
      </section>
      <section id="mobile-menu" class="top-17.5 justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col bg-black text-5xl">
        <button class="self-end px-6 text-8xl"></button>
        <nav class="flex min-h-screen flex-col items-center py-8" aria-label="mobile">
          <a href="<%- localizeUrl('/#products') %>" class="w-full py-6 text-center hover:opacity-90"><%= t('nav.shop') %></a>
          <a href="<%- localizeUrl('/#best-seller') %>" class="w-full py-6 text-center hover:opacity-90"><%= t('nav.best_seller') %></a>
        <% if (hasTestimonials) { %>
          <a href="<%- localizeUrl('/#testimonials') %>" class="w-full py-6 text-center hover:opacity-90"><%= t('nav.testimonials') %></a>
        <% } %>
          <!-- <a href="<%- localizeUrl('/#track') %>" class="w-full py-6 text-center hover:opacity-90">Track Your Order</a> -->
          <a href="<%- localizeUrl('/#about') %>" class="w-full py-6 text-center hover:opacity-90"><%= t('nav.about') %></a>
          <a href="<%- localizeUrl('/cart.html') %>" class="relative hover:opacity-90">
            &#128717;
            <span class="cartSize absolute -bottom-2 -left-2 bg-white text-black text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full border border-gray-300 shadow-md invisible" />
          </a>
        <% if (hasBlogs) { %>
          <a href="<%- localizeUrl('/blogs.html') %>" class="w-full py-6 text-center hover:opacity-90"><%= t('nav.blogs') %></a>
        <% } %>
        </nav>
      </section>
    </header>
    <main class="flex-1 mx-auto max-w-4xl">
