<h1 class="text-3xl font-medium pt-4">Rückerstattungsrichtlinie</h1>

<p class="mt-4">
  Letzte Aktualisierung: <span class="text-green-400">10. Juni 2026</span>
</p>

<p class="mt-4">
  Wir möchten, dass Sie mit Ihrem Kauf zufrieden sind. Wenn Sie mit Ihrer Bestellung nicht vollständig zufrieden sind,
  können Sie gemäß dieser Rückerstattungsrichtlinie eine Rückgabe beantragen.
</p>

<p class="mt-4">
  Wir akzeptieren Rücksendungen innerhalb von 30 Tagen nach Lieferung. Um für eine Rückgabe in Frage zu kommen, muss
  sich der Artikel im gleichen Zustand befinden, in dem Sie ihn erhalten haben, ungetragen oder unbenutzt, mit
  angebrachten Etiketten und in der Originalverpackung. Sie müssen außerdem einen Kaufbeleg vorlegen, z. B. eine
  Bestellbestätigung oder eine Quittung.
</p>

<p class="mt-4">
  Um eine Rücksendung zu veranlassen, kontaktieren Sie uns bitte unter
  <a href="mailto:<%= site.email %>">
    <%= site.email %>
  </a>.
</p>

<p class="mt-4">
  Artikel, die ohne vorherige Genehmigung zurückgegeben werden, werden möglicherweise nicht angenommen.
</p>

<p class="mt-4">
  Wenn Ihr Rücksendeantrag genehmigt wird, erhalten Sie von uns Anweisungen, wie und wohin Sie Ihr Paket senden sollen.
</p>

<h2 class="text-xl font-medium mt-6">Beschädigte, defekte oder falsche Artikel</h2>

<p class="mt-4">
  Bitte überprüfen Sie Ihre Bestellung, sobald sie eintrifft. Wenn Ihr Artikel beschädigt oder defekt ist oder Sie den
  falschen Artikel erhalten, kontaktieren Sie uns umgehend, damit wir das Problem beurteilen und eine angemessene Lösung
  veranlassen können.
</p>

<h2 class="text-xl font-medium mt-6">Vom Umtausch ausgeschlossene Artikel</h2>

<p class="mt-4">
  Bestimmte Arten von Produkten können nicht zurückgegeben werden, darunter:
</p>

<ul class="list-disc list-inside mt-4">
  <li>Verderbliche Waren (wie Lebensmittel, Blumen oder Pflanzen)</li>
  <li>Personalisierte oder maßgeschneiderte Produkte</li>
  <li>Körperpflegeprodukte</li>
  <li>Gefährliche Materialien, brennbare Flüssigkeiten oder Gase</li>
  <li>Geschenkkarten</li>
</ul>

<p class="mt-4">
  Wenn Sie sich nicht sicher sind, ob ein bestimmtes Produkt für eine Rückgabe geeignet ist, kontaktieren Sie uns bitte,
  bevor Sie Ihre Bestellung aufgeben.
</p>

<h2 class="text-xl font-medium mt-6">Austausch</h2>

<p class="mt-4">
  Der schnellste Weg, einen anderen Artikel zu erhalten, besteht darin, den ursprünglichen Artikel zurückzusenden und
  eine neue Bestellung aufzugeben, sobald die Rücksendung genehmigt wurde.
</p>

<h2 class="text-xl font-medium mt-6">Rücksendekosten</h2>

<p class="mt-4">
  Sofern der Artikel nicht defekt, beschädigt oder falsch ist oder das geltende Recht nichts anderes vorschreibt, sind
  die Kunden für die Kosten der Rücksendung der Artikel verantwortlich.
</p>

<p class="mt-4">
  Die ursprünglichen Versandkosten sind nicht erstattungsfähig, es sei denn, die Rücksendung ist auf unseren Fehler oder
  ein defektes Produkt zurückzuführen.
</p>

<h2 class="text-xl font-medium mt-6">Widerrufsrechte des Vereinigten Königreichs und der Europäischen Union</h2>

<p class="mt-4">
  Wenn Sie ein Verbraucher mit Wohnsitz im Vereinigten Königreich oder in der Europäischen Union sind, haben Sie
  möglicherweise das gesetzliche Recht, Ihre Bestellung innerhalb von 14 Tagen nach Erhalt der Ware ohne Angabe von
  Gründen zu stornieren oder zurückzugeben, vorbehaltlich der geltenden Verbraucherschutzgesetze.
</p>

<p class="mt-4">
  Um dieses Recht auszuüben, muss der Artikel im Allgemeinen in einem für den Wiederverkauf geeigneten Zustand
  zurückgegeben werden, zusammen mit allen mitgelieferten Zubehörteilen, Dokumentation und Originalverpackung, soweit
  dies vernünftigerweise möglich ist.
</p>

<p class="mt-4">
  Bestimmte Produkte können vom Widerrufsrecht ausgeschlossen sein, sofern dies gesetzlich zulässig ist, einschließlich
  personalisierter oder maßgeschneiderter Produkte und versiegelter Waren, die nach dem Öffnen aus Gesundheits- oder
  Hygienegründen nicht für eine Rückgabe geeignet sind.
</p>

<h2 class="text-xl font-medium mt-6">Rückerstattungen</h2>

<p class="mt-4">
  Sobald wir Ihren zurückgegebenen Artikel erhalten und geprüft haben, werden wir Sie darüber informieren, ob Ihre
  Rückerstattung genehmigt wurde.
</p>

<p class="mt-4">
  Bei Genehmigung erfolgt die Rückerstattung über Ihre ursprüngliche Zahlungsmethode. Rückerstattungen werden in der
  Regel innerhalb von 10 Werktagen nach Genehmigung bearbeitet. Ihre Bank, Ihr Kartenaussteller, Stripe, PayPal oder ein
  anderer Zahlungsanbieter benötigen jedoch möglicherweise zusätzliche Zeit, um die Transaktion abzuschließen.
</p>

<p class="mt-4">
  Sollte eine Rückerstattung nicht genehmigt werden, erläutern wir den Grund und veranlassen gegebenenfalls die
  Rücksendung des Artikels an Sie.
</p>

<h2 class="text-xl font-medium mt-6">Verlorene oder fehlende Lieferungen</h2>

<p class="mt-4">
  Sollte Ihre Bestellung nicht innerhalb der erwarteten Lieferzeit eingetroffen sein, kontaktieren Sie uns bitte unter
  <a href="mailto:<%= site.email %>">
    <%= site.email %>
  </a>.
</p>

<p class="mt-4">
  Wir werden das Problem mit dem Spediteur untersuchen und mit Ihnen zusammenarbeiten, um die Angelegenheit so schnell
  wie möglich zu lösen.
</p>

<h2 class="text-xl font-medium mt-6">Kontaktieren Sie uns</h2>

<p class="mt-4 mb-4">
  Wenn Sie Fragen zu Rückgaben, Rückerstattungen, Umtausch oder dieser Rückerstattungsrichtlinie haben, kontaktieren Sie
  uns bitte unter:
  <br>
  <a href="mailto:<%= site.email %>">
    <%= site.email %>
  </a>
</p>
