<div class="bg-white rounded-2xl cursor-pointer hover:-translate-y-2 transition-all relative">
  <a href="/products/<%= product.pk %>.html">
    <% if (product.out_of_stock) { %>
      <%- include('out_of_stock_badge') %>
    <% } else if (product.sale) { %>
      <%- include('sale_badge') %>
    <% } %>
    <div class="w-11/12 h-52.5 overflow-hidden mx-auto aspect-w-16 aspect-h-8 mb-1">
      <img src="<%= product.images[0] %>" alt="<%= product.title.replace(/"/g, '') %>"
        class="h-full w-full object-contain" />
    </div>
    <div class="px-2 pb-2 mx-auto">
      <h3 class="font-bold text-gray-800"><%= product.title %></h3>
      <h4 class="text-gray-800 mt-4 mb-4">
        <% if (product.compare_at_price) { %>
          <span class="text-red-500 line-through mr-0.5 productOldPrice" data-pk="<%- product.pk %>">
            <%= formatCurrency(getProductCompareAtPrice(product)) %>
          </span>
        <% } %>
        <span class="font-bold productPrice" data-pk="<%- product.pk %>">
          <%= formatCurrency(getProductPrice(product)) %>
        </span>
      </h4>
    </div>
  </a>
</div>
<% if (!product.featuring_product) { %>
<script>products['<%- product.pk %>'] = <%- JSON.stringify({price: product.price, compareAtPrice: product.compare_at_price, isSizeBasedPrice: product.isSizeBasedPrice, size: product.size}) %>;</script>
<% } %>
