<div class="flex items-center gap-2">
  <div class="flex">
    <% for (let i = 1; i <= 5; i++) { %>
      <% let fillLevel = Math.max(0, Math.min(1, product.star_rating - (i - 1))); %>

      <% if (fillLevel >= 0.95) { %>
        <!-- Full Star -->
        <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 w-6 h-6 fill-current"
          viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
      <% } else if (fillLevel > 0) { %>
        <!-- Partial Star with Gradient -->
        <div class="relative w-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 16 16">
            <defs>
              <linearGradient id="grad-<%= i %>" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="<%= fillLevel * 100 %>%" stop-color="rgb(234,179,8)"/>
                <stop offset="<%= fillLevel * 100 %>%" stop-color="transparent"/>
              </linearGradient>
            </defs>
            <path fill="none" stroke="rgb(234,179,8)" stroke-width="1.3"
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            <path fill="url(#grad-<%= i %>)"
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
        </div>
      <% } else { %>
        <!-- Empty Outlined Star -->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500" viewBox="0 0 16 16">
          <path fill="none" stroke="currentColor" stroke-width="1.3"
            d="M2.866 14.85c-.078.443.36.79.746.592l4.389-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.159-.888-.282-.95l-4.898-.696L8.465.792c-.197-.39-.73-.39-.927 0L5.354 5.119l-4.898.696c-.441.062-.612.636-.283.95l3.522 3.356-.83 4.73z"/>
        </svg>
      <% } %>
    <% } %>
  </div>
  
  <span class="text-gray-700 dark:text-gray-300 font-medium">
    <%= product.star_rating.toFixed(1) %> (<%= product.review_count %> reviews)
  </span>
</div>
